# Auto-detect text files and normalize line endings
* text=auto

# Source code
*.js text
*.json text
*.css text
*.html text
*.md text
*.yml text
*.yaml text

# Audio
*.mp3 binary

# Binaries
*.gz binary
*.lock binary
